[submodule "src/cpp/fastbvh"]
	path = src/cpp/fastbvh
	url = https://github.com/sampotter/Fast-BVH.git
[submodule "src/cpp/tinyobjloader"]
	path = src/cpp/tinyobjloader
	url = https://github.com/sampotter/tinyobjloader.git
[submodule "src/cpp/cxxopts"]
	path = src/cpp/cxxopts
	url = https://github.com/sampotter/cxxopts.git
[submodule "src/cpp/tbb"]
	path = src/cpp/tbb
	url = https://github.com/01org/tbb.git
[submodule "src/cpp/armadillo"]
	path = src/cpp/armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code.git
[submodule "src/cpp/yaml-cpp"]
	path = src/cpp/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "src/cpp/png++"]
	path = src/cpp/png++
	url = https://github.com/sampotter/pngpp
